FIREBASE_PROJECT_ID=dawa-ca263
GOOGLE_APPLICATION_CREDENTIALS=./firebase-service.json

SUPABASE_URL=https://eatliepvwrviogsnqavu.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

FIREBASE_AUTH_EXPORT=../../migration_exports/firebase_auth_users.json
